<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <link href="/css/law_homepage.css" rel="stylesheet">
</head>

<body>
 <% include ../partials/navbar.ejs %>

    <div class="container-fluid">
      <div class="row">
        <% include lawyerSideBar.ejs %>
         
         <!-- MAIN CONTENT (put stuff to be shown inside the dashboard area here) -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="page-header">Lawyer Dashboard</h2>
          <h2 class="sub-header">List of Clients</h2>
          <div class="row">
            <label>First Name</label>
            <input type="text" value="">
            <label>Last Name</label>
            <input type="text" value="">
            <label>Applicant ID</label>
            <input type="text" value="">
            <button type="button" class="btn btn-primary">Search</button>
          </div>
          <div class="row">
            <div class="table-responsive">
              <% if (users.length > 0){%>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Date Created</th>
                      <th>Email</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var count = 1%>
                    <% users.forEach(function(user){ %>
                      <tr>
                        <td><%= count++ %></td>
                        <td><%= user.firstName %></td>
                        <td><%= user.lastName %></td>
                        <td><%= new Date(user.created).toLocaleString() %></td>  
                        <td><%= user.email %></td>
                        <td><a href="/edit/<%= user._id%>" class="btn btn-primary">Edit</a>
                        </td>     
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              <% }else{%>
                <h4>No clients found , please add a client to view the list</h4>
              <% }%>
            </div>
          </div>
        </div>
        <!-- END MAIN CONTENT-->

      </div>
    </div>
<% include ../partials/footer.ejs %>